<section class="standard finalizar pagelist">
	<div class="container">
		
		<div class="pagelist-header white-block prestador">
			<i class="pagelist-header-icon"></i>

			<div class="pagelist-header-content">

				<h1 class="pagelist-header-title">
					Serviços Aguardando Finalização
				</h1>
				<h2 class="pagelist-header-subtitle">
					Serviços que devem ser finalizados
				</h2>

			</div> <!-- /pagelist-header-content -->

		</div> <!-- /pagelist-header -->

		<div class="row">
			<ul class="pagelist-list">

				<div class="nothing-to-show" ng-if="naoExisteNada">
					Opa, ainda não existe nada aqui :(
				</div>

				<div class="col-sm-6 col-md-3" ng-repeat="hist in historicoServico | orderBy:'-inicio'">
					<li class="pagelist-item white-block {{hist.origem}}">
						<a href="#/app/usuario/{{hist.usuario_id}}">
							<figure class="pagelist-item-user" style="background-image: url({{hist.imagemUsuario}});"></figure>
						</a>
						<div class="pagelist-item-content">
							<div class="client">						
								<b class="pagelist-item-client">
									{{hist.usuarioRequisicao}}
								</b>
								finalizou
							</div>

							<h2 class="service-title">
									{{hist.servico}}
							</h2>
						</div> <!-- /pagelist-item-content -->

						<div class="pagelist-item-buttons">
							<button class="btn pink modal-opener icon icon-check">
								Concluído						
							</button>
						</div> <!-- /pagelist-item-buttons -->
						
						<div class="modal">

							<div class="modal-inner">
								<article class="modal-content">

									<h2 class="modal-title">
										Finalizar serviço
									</h2>
									<p class="modal-message">
										Deseja mesmo finalizar este serviço?
									</p>
									<div class="modal-buttons">
										<button class="btn negative x">
											Não
										</button>
										<button class="btn positive check">
											Sim
										</button>
									</div>
								</article>	<!-- /modal-content -->								
							</div><!-- /modal-inner -->

						</div> <!-- /modal -->

					</li> <!-- /pagelist-item -->
				</div> <!-- /col -->

			</ul><!-- /pagelist-list -->
		</div> <!-- /row -->

	</div>
</section>