<section class="pedido-cadastro standard form-page  bg-gray-pattern-xs">
		<div class="modal open">

			<div class="modal-inner">
				<article class="modal-content">

					<h2 class="modal-title">
						hey! calma aí
					</h2>
					<p class="modal-message">
						Tem certeza que deseja solicitar um serviço? talvez ele já existe no <b class="user">OPA</b>.
					</p>
					<div class="modal-buttons">
						<a class="btn negative check" href="#app/pedido-cadastro">
							Solicitar
						</a>
						<a class="btn positive search" href="#app/feed">
							Procurar
						</a>
					</div>
				</article>	<!-- /modal-content -->								
			</div><!-- /modal-inner -->

		</div> <!-- /modal -->
</section>