<section class="feed-featured">
	
	<div class="featured-user prestador">
		<figure class="featured-user-image" style="background-image: url('img/misc/joao.jpg')">						
		</figure>
		<h3 class="featured-user-name">
			Beto
		</h3>		
	</div>

	<div class="featured-user solicitante">
		<figure class="featured-user-image" style="background-image: url('img/misc/maria.jpg')">						
		</figure>
		<h3 class="featured-user-name">
			Fernanda
		</h3>		
	</div>

	<span class="featured-yeah">
		Deu Certo!
	</span>

	<h2 class="sayings">
		<a href=" perfil do cara">
			Beto
		</a>
		prestou um de seus serviços para
		<a href=" perfil da moça">
			Fernanda
		</a>
		e deu certo!
	</h2>

</section>