<footer class="footer">
	<div class="top-footer">
		<div class="container">
			
			<div class="row">
				<div class="col-xs-2">
					<a href="#app/feed">
						<img src="img/common/logo-footer.png" class="logo-footer">
					</a>
				</div>
				<div class="col-xs-3">
					<h2 class="footer-title">
						utilidades
					</h2>

					<ul class="footer-links">
						<li>
							<a href="#app/login">
								fazer login
							</a>							
						</li>
						<li>
							<a href="#app/usuario-cadastro">
								minha conta
							</a>							
						</li>
					</ul>
				</div>
				<div class="col-xs-3">
					<h2 class="footer-title">
						Siga Nos
					</h2>

					<a href="http://fb.me/opabr">
						<em class="social-network fa fa-facebook"></em>
					</a>

				</div>
			</div>
		</div>
	</div>
	<div class="sub-footer">
		OPA © 2016 - todos os direitos reservados
	</div>
</footer>